
    body {
        background: linear-gradient(135deg, #1a237e, #283593, #3949ab);
    color: white;
    font-family: 'Roboto', sans-serif;
    }
    nav.navbar {
        background-color: #2c2c54;
    }
    header {
        background: linear-gradient(135deg, #3a3a99, #6a0dad);
        color: white;
    }
    button {
        background-color: #5dade2;
        border: none;
        color: white;
    }
    button:hover {
        background-color: #2e86c1;
    }
    .rounded-circle{
    height: 300px;
    width: 300px;
    object-fit: cover;
    border: 5px solid white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

    }
    button a {
        color: white;
        text-decoration: none;
        background-color: #00bcd4;
        padding: 10px 20px;
        border-radius: 5px;
        border: none
    }
    button:hover {
        background-color: #0097a7;
    color: white;
    }
    
    #About {
        background-color: #f5f5f5;
        color: #1a1a40;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    #sociallinks {
        background-color: #e8f9f9;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin: 10px;
        font-size: 20px;
        display: inline-block;
        text-decoration: none;
    }
    #contact {
        background-color: #fff3e0;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    

h1 {
    color: #5dade2;
}
h3 {
    color: #a29bfe;
}
.container .row {
    margin-top: 30px;
    margin-bottom: 30px;
}
footer {
    background-color: #2c2c54;
    color: #f5f5f5;
    padding: 10px 0;
    text-align: center;
}

